body {
    margin: 0px;
    font-family: "Julius Sans One", sans-serif;
    background-color: #E6E6E6 ;
}

h1{
    font-family: "Paytone One", sans-serif;
    text-shadow: rgb(245, 193, 124) 0px 0 50px;
}

#textPhotographe{
    
}

/* @keyframes{

} */